/****************************************************/
/** General styling **/
p {
    margin: 0;
}
.bg-blue {
    background-color: white;
}


/****************************************************/
/** Sidebar styling **/
#sideNavbar {
    max-width: 275px;
}
#sideNavbar img {
    width: 50px;
    height: 50px;
}

.cursor-pointer {
    cursor: pointer;
}



