/****************************************************/
/** General styling **/
p {
    margin: 0;
}
.bg-blue {
    background-color: white;
}

.overlay-anim {
    top: 150%;
    transition: top 0.4s;
}

.meal-card:hover .overlay-anim {
    top: 0;
}

/****************************************************/
/** Sidebar styling **/
#sideNavbar {
    max-width: 275px;
}
#sideNavbar img {
    width: 50px;
    height: 50px;
}

.cursor-pointer {
    cursor: pointer;
}



