
<div class="col-md-4" onclick="prepareMealsByCategory(this)" --category-str="%CATEGORY_STR%">
    <div class="position-relative overflow-hidden rounded-2 meal-card cursor-pointer">
        <img src="%CATEGORY_IMG%" class="img-fluid" alt="">
        <div
            class="position-absolute start-0 end-0 bottom-0 bg-white bg-opacity-50 d-flex flex-column justify-content-center align-items-center text-center  overlay-anim">
            <h4>%CATEGORY_NAME%</h4>
            <p>%CATEGORY_DESC%</p>
        </div>
    </div>
</div>