<div class="col-md-6">
  <input
    type="text"
    class="form-control px-3 py-2"
    placeholder="Enter your name"
    id="nameInput"
    name="name"
  />
</div>
<div class="col-md-6">
  <input
    type="email"
    class="form-control px-3 py-2"
    placeholder="Enter your Email"
    id="emailInput"
    name="email"
  />
</div>
<div class="col-md-6">
  <input
    type="number"
    class="form-control px-3 py-2"
    placeholder="Enter your Phone"
    id="phoneInput"
    name="phoneNumber"
  />
</div>
<div class="col-md-6">
  <input
    type="text"
    class="form-control px-3 py-2"
    placeholder="Enter your Age"
    id="ageInput"
    max="100"
    min="1"
    name="age"
  />
</div>
<div class="col-md-6">
  <input
    type="password"
    class="form-control px-3 py-2"
    placeholder="Enter your password"
    id="passwordInput"
    name="password"
  />
</div>
<div class="col-md-6">
  <input
    type="password"
    class="form-control px-3 py-2"
    placeholder="Confirm your password"
    id="confirmPasswordInput"
    name="confirmPassword"
  />
</div>
<div class="col-12 text-center">
  <button class="btn btn-outline-danger px-3 py-2" disabled>Submit</button>
</div>
