<div class="col-md-5 text-white">
    <div class="p-2">
        <img src="%MEAL_IMG%" class="img-fluid" alt="">
        <h1>%MEAL_NAME%</h1>
    </div>
</div>

<div class="col-md-7 text-white">
    <div class="p-2">
        <h2>Instructions</h2>
        <p class="text-break">%INSTRUCTIONS%</p>
        <h3>Area: %AREA%</h3>
        <h3>Category: %CATEGORY%</h3>
        <h3>Recipes:</h3>
        <div class="p-2 mb-2">
            %RECIPES%
        </div>
        <h3>Tags:</h3>
        <div class="p-2 mb-2">
            %TAGS%
        </div>
        <div class="btn-group">
            <a href="%SOURCE%" class="btn btn-success px-3 py-1 mx-2 rounded-2">Source</a>
            <a href="%YOUTUBE%" class="btn btn-danger px-3 py-1 mx-2 rounded-2">YouTube</a>
        </div>
    </div>
</div>